.info-section {
    background-color: #e9f5db;
    padding: 20px 0;
    text-align: center;
}
.info-section h5 {
    font-size: 1.25rem;
    color: #343a40;
    margin-bottom: 1rem;
}
.info-section .icon {
    font-size: 2rem;
    color: #6a9728;
    margin-bottom: 1rem;
}
footer.bg-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    padding: 2rem 0;
    margin-top: 3rem; 
    background: #e9f5db; 
}

footer .container h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

footer .container img.img-fluid {
    max-width: 100%;
    height: auto;
}

footer .container i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #343a40;
}

footer .container a {
    color: #343a40;
    margin-right: 0.5rem;
    transition: color 0.3s ease;
}

footer .container a:hover {
    color: #6c757d;
}

footer .container .text-center p {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #6c757d;
}