body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("img/background.svg");
    font-family: "Noto Sans Tifinagh Agraw Imazighen";
}

.container {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    max-width: 1621px;
    height: 60px;
    padding: 0 20px;
}

.op {
    font-size: 25px;
    background: linear-gradient(45deg, #EB568E, #144EE3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.emoji {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

.p0 {
    width: 120px;
    height: 60px;
    background-color: #EB568E;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #EB568E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.p0:hover {
    background-color: #C0456F;
    box-shadow: 0 0 15px rgba(235, 86, 142, 0.8);
    border-color: #C0456F;
}

main {
    width: 100%;
    max-width: 1621px;
    height: auto;
    margin-top: 60px;
    padding: 0 20px;
}

.reg {
    vertical-align: middle;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.p1,
.p2,
.p3 {
    width: 120px;
    height: 60px;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.p1 {
    background-color: #144EE3;
    border: 1px solid #144EE3;
}

.p1:hover {
    background-color: #1038A7;
    box-shadow: 0 0 15px rgba(20, 78, 227, 0.8);
    border-color: #1038A7;
}

.p2 {
    background-color: #144EE3;
    border: 1px solid #144EE3;
}

.p2:hover {
    background-color: #1038A7;
    box-shadow: 0 0 15px rgba(20, 78, 227, 0.8);
    border-color: #1038A7;
}

.p3 {
    background-color: #FFC107;
    border: 1px solid #FFA000;
}

.p3:hover {
    background-color: #FFA000;
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.8);
    border-color: #FFA000;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

.opis {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
}
.ascii{
    display: flex;
    justify-content: center;
    font-size: 15px;
    background: linear-gradient(45deg, #EB568E, #144EE3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    height: ;
}
header button {
    width: 100%;
    max-width: 400px;
    height: 60px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
